<md-dialog aria-label="Settings">
    <md-dialog-content style="margin:64px;">
        <div layout="row" layout-align="center">
            <div layout="row" style="min-width:240px;max-width: 80%;max-height: 80%;">
                <md-card ng-repeat="card in cards" style="width:292px">
                    <!--<img ng-src="{{card.img}}" class="md-card-image" alt="Washed Out">-->

                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{card.title}}</span>
                            <span class="md-subhead">{{card.desc}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <!--<md-card-content></md-card-content>-->
                    <md-divider></md-divider>
                    <md-list>
                        <md-list-item class="md-long-text" ng-repeat="feature in card.features">
                            <div class="md-list-item-text">
                                <p>{{feature}}</p>
                            </div>
                        </md-list-item>
                    </md-list>
                    <md-divider></md-divider>
                    <md-card-actions layout="row" layout-align="center center">
                        <md-button class="md-raised md-primary">{{'GENERAL.START'|translate}}</md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
