<md-dialog aria-label="Product Editor" ng-cloak flex="60" style="max-height: 80%">
    <form ng-submit="vm.update()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Product Editor</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.cancel()">
                    <md-icon md-font-icon="fa fa-times"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <fieldset class="md-dialog-content">
                <legend><h3>Basic Info</h3></legend>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>ID</label>
                        <input type='text' ng-model="vm.product.itemId" ng-change="vm.merchantChange()">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Name</label>
                        <input type='text' ng-model="vm.product.itemName">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Thumbnail</label>
                        <input type='text' ng-model="vm.product.thumbnail">
                    </md-input-container>
                    <md-card ng-if="vm.product.thumbnail" flex="20">
                        <img ng-src="{{vm.product.thumbnail}}" class="md-card-image">
                    </md-card>
                </div>

                <div layout="row">
                    <md-input-container flex="33">
                        <label>Price</label>
                        <input type='number' ng-model="vm.product.price">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Category</label>
                        <md-select ng-model="vm.product.category">
                            <md-option ng-value="$index" ng-repeat="cate in vm.getCate()">{{ cate[0] }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="50" ng-if="vm.product.category||vm.product.category===0">
                        <label>Subcategory</label>
                        <md-select ng-model="vm.product.subcategory">
                            <md-option ng-value="null">Empty</md-option>
                            <md-option ng-value="$index" ng-repeat="subcate in vm.getCate()[vm.product.category][1]">
                                {{subcate}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="vm.product.description" columns="1" md-maxlength="1000" rows="5"></textarea>
                    </md-input-container>
                </div>
                <legend><h3>Optional</h3></legend>

                <div layout="row">
                    <md-input-container flex="33">
                        <label>List Price</label>
                        <input type='number' ng-model="vm.product.listPrice">
                    </md-input-container>
                    <md-input-container flex="33">
                        <label>Quantity</label>
                        <input type='number' ng-model="vm.product.quantity">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container flex="33">
                        <label>Status</label>
                        <input type='text' ng-model="vm.product.status">
                    </md-input-container>
                    <div flex="33">
                        <md-checkbox ng-model="vm.product.available"
                                     ng-true-value="false"
                                     ng-false-value="null">
                            Not Available
                        </md-checkbox>
                    </div>
                    <div flex="33">
                        <md-checkbox ng-model="vm.product.show"
                                     ng-true-value="false"
                                     ng-false-value="null">
                            Hide
                        </md-checkbox>
                    </div>

                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Tags</label>
                        <input type='text' ng-model="vm.optional.tags">
                    </md-input-container>
                </div>
                <div layout="row">
                    <div flex="40" ng-repeat="(optName, optValue) in vm.optional.options">
                        <md-input-container>
                            <label>Option: {{optName}}</label>
                            <input type='text' ng-model="vm.optional.options[optName]">
                            <md-icon md-font-icon="fa fa-times" style="cursor:pointer;"
                                     ng-click="vm.removeOption(optName)"></md-icon>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Option Name</label>
                        <input type='text' ng-model="vm.optional.optName">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Option Value</label>
                        <input type='text' ng-model="vm.optional.optValue">
                        <md-icon md-font-icon="fa fa-plus" style="cursor:pointer" ng-click="vm.addOption()"></md-icon>
                    </md-input-container>
                </div>

                <div layout="row">
                    <md-input-container flex="50" layout-align="start center">
                        <label>Image url</label>
                        <input type='text' ng-model="vm.imageUrl">
                        <md-icon md-font-icon="fa fa-plus" style="cursor:pointer;" ng-click="vm.addImage()"></md-icon>
                    </md-input-container>
                </div>
                <div layout="row" layout-wrap>
                    <md-card flex="20" ng-repeat="(imageIndex, imageUrl) in vm.product.images">
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-icon-button" aria-label="remove" ng-click="vm.removeImage(imageIndex)">
                                <md-icon md-font-icon="fa fa-times"></md-icon>
                            </md-button>
                        </md-card-actions>
                        <img ng-src="{{imageUrl}}" class="md-card-image">
                    </md-card>
                </div>
                <legend><h3>Custom</h3></legend>
                <div layout="row">
                    <div flex="40" ng-repeat="(customKey, customVal) in vm.product.custom">
                        <md-input-container>
                            <label>{{customKey}}</label>
                            <input type='text' ng-model="vm.product.custom[customKey]">
                            <md-icon md-font-icon="fa fa-times" ng-click="vm.removeCustom(customKey)"
                                     style="cursor: pointer"></md-icon>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row">
                    <md-input-container flex="50">
                        <label>Key</label>
                        <input type='text' ng-model="vm.customKey">
                    </md-input-container>
                    <md-input-container flex="50">
                        <label>Value</label>
                        <input type='text' ng-model="vm.customValue">
                        <md-icon md-font-icon="fa fa-plus" ng-click="vm.addCustom()" style="cursor: pointer"></md-icon>
                    </md-input-container>
                </div>

            </fieldset>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit">
                SAVE
            </md-button>
            <md-button ng-click="vm.cancel()" style="margin-right:20px;">
                CANCEL
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
