<div layout="column">
    <md-tabs md-dynamic-height md-selected="selectedIndex" md-border-bottom md-autoselect>
        <md-tab label="Products">

            <md-content>

                <md-toolbar class="md-table-toolbar md-default"
                            aria-label="search">
                    <div class="md-toolbar-tools" layout="row">
                        <md-button class="toolbar-button"
                                   style="color:black"
                                   ng-click="vm.orderBy='itemId';vm.startAt='';vm.endAt='';vm.getFiltered()">
                            All
                        </md-button>
                        <md-button class="toolbar-button"
                                   ng-repeat="cate in clientConfig.products.categories"
                                   style="color:black"
                                   ng-click="vm.orderBy='category';vm.equalTo=$index;vm.getFiltered()">
                            {{cate[0]}}
                        </md-button>
                        <md-button class="toolbar-button"
                                   style="color:black"
                                   ng-click="vm.showFilter = !vm.showFilter">
                            Search Tools
                        </md-button>
                    </div>

                </md-toolbar>
                <md-divider></md-divider>
                <form name="filterForm" ng-show="vm.showFilter"
                      ng-submit="vm.getFiltered()" class="md-whiteframe-3dp">
                    <div layout='row' layout-margin layout-padding>
                        <md-input-container flex>
                            <label>Filter</label>
                            <md-select ng-model="vm.orderBy">
                                <md-option ng-repeat="filter in vm.filters" value="{{filter[1]}}">
                                    {{filter[0]}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex ng-if="vm.orderBy!=='category'">
                            <label>From</label>
                            <input ng-model="vm.startAt">
                        </md-input-container>
                        <md-input-container flex ng-if="vm.orderBy!=='category'">
                            <label>To</label>
                            <input ng-model="vm.endAt">
                        </md-input-container>
                        <md-input-container class="md-block" flex ng-if="vm.orderBy==='category'">
                            <label>Equal to</label>
                            <md-select ng-model="vm.equalTo">
                                <md-option ng-repeat="cate in clientConfig.products.categories" value="{{$index}}">
                                    {{cate[0]}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-padding>
                        <span flex></span>
                        <md-button class="md-primary md-hue-1 md-raised" type="submit">
                            OK
                        </md-button>
                        <md-button class="md-accent md-raised" ng-click="vm.showFilter = !vm.showFilter">
                            Cancel
                        </md-button>
                    </div>

                </form>


                <md-table-container>
                    <table md-table md-progress="vm.paginator.promise">
                        <thead md-head md-order="'_id'" md-on-reorder="vm.onReorder">
                        <tr md-row>
                            <th md-column md-order-by="itemId">Id</th>
                            <th md-column md-order-by="itemName">Name</th>
                            <th md-column md-order-by="category">Category</th>
                            <th md-column>Subcategory</th>
                            <th md-column md-numeric md-order-by="quantity">Quantity</th>
                            <th md-column md-numeric md-order-by="price">Price</th>
                            <th md-column></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="product.itemId" md-select-id="{{product.itemId}}" md-auto-select
                            ng-repeat="(index, product) in vm.paginator.result.hits">
                            <td md-cell>{{product.itemId}}</td>
                            <td md-cell>{{product.itemName}}</td>
                            <td md-cell>{{vm.categories[product.category][0]}}</td>
                            <td md-cell>{{vm.categories[product.category][1][product.subcategory]}}</td>
                            <td md-cell>{{product.quantity}}</td>
                            <td md-cell>{{product.price}}</td>
                            <td md-cell style="width:50px;">
                                <div layout="row">
                                    <span flex></span>
                                    <md-menu>
                                        <md-button class="md-icon-button" aria-label="more action"
                                                   ng-click="$mdOpenMenu();$event.stopPropagation();"
                                                   aria-label="more action">
                                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                        </md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item ng-repeat="action in vm.actions">
                                                <md-button ng-click="vm.action(action[0], product.itemId,$event)" translate="{{action[1]}}"
                                                           aria-label="{{action[1]}}"></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
                <md-table-pagination md-limit="vm.paginator.size" md-page="vm.paginator.page"
                                     md-total="{{vm.paginator.result.total}}"
                                     md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>

            </md-content>
            <md-button class="md-fab" aria-label="fab button"
                       style="position: fixed; bottom: 40px; right: 40px"
                       ng-click="vm.showEditor($event)">
                <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
            </md-button>
        </md-tab>

        <md-tab label="Categories and Tags">
            <div>
                <md-button ng-if="vm.cateEdit" class="md-fab" aria-label="fab button"
                           style="position: fixed; bottom: 40px; right: 40px"
                           ng-click="vm.addCate()">
                    <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
                </md-button>
                <md-button ng-if="!vm.cateEdit"
                           ng-click="vm.cateEdit=!vm.cateEdit"
                           class="md-raised md-primary"
                           aria-label="edit mode">
                    Edit Mode
                </md-button>
                <md-button ng-if="vm.cateEdit"
                           ng-click="vm.saveCateTag()"
                           aria-label="save categories">
                    Save
                </md-button>
                <md-button ng-if="vm.cateEdit"
                           ng-click="vm.cateEdit=!vm.cateEdit; vm.getCate()"
                           aria-label="save categories">
                    Cancel
                </md-button>
            </div>

            <div layout="row" layout-xs="column" layout-wrap layout-padding class="md-whiteframe-2dp">
                <div flex="100">
                    <h2>Tags</h2>
                    <span ng-if="!vm.cateEdit">{{vm.tags}}</span>
                    <div ng-if="vm.cateEdit">
                        <md-input-container class="md-icon-float md-block">
                            <label>Tags</label>
                            <input ng-model="vm.tags" type="text">
                        </md-input-container>
                    </div>
                </div>
            </div>

            <div layout="row" layout-xs="column" layout-wrap layout-padding class="md-whiteframe-2dp">
                <div flex="100">
                    <h2>Categories</h2>
                </div>
                <div flex-gt-xs="33" flex-gt-sm="25"
                     ng-repeat="cate in vm.categories track by $index">
                    <md-card class="md-whiteframe-2dp">

                        <md-card-title>
                            <md-card-title-text>
                                <span ng-if="!vm.cateEdit" class="md-headline">{{cate[0]}}</span>
                                <input ng-if="vm.cateEdit" ng-model="vm.categories[$index][0]">
                            </md-card-title-text>
                        </md-card-title>

                        <md-card-content layout-align="center center">
                            <ul>
                                <li ng-repeat="sub in cate[1] track by $index">
                                    <span ng-if="!vm.cateEdit">
                                        {{sub}}
                                    </span>
                                    <span ng-if="vm.cateEdit">
                                        <input ng-model="vm.categories[$parent.$parent.$index][1][$index]">
                                        <a href style="float: right"
                                           ng-click="vm.removeCate($parent.$parent.$index, $index)">remove</a>
                                    </span>
                                </li>
                                <li>
                                    <span ng-if="vm.cateEdit">
                                        <input ng-model="vm.tempItem[$index]">
                                        <a href style="float: right" ng-click="vm.addItem($index, vm.tempItem[$index])">add</a>
                                    </span>
                                </li>
                            </ul>
                        </md-card-content>
                        <md-card-actions ng-if="vm.cateEdit" layout="row" layout-align="start center">

                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="vm.removeCate($parent.$index)"
                                       aria-label="delete product">
                                <md-icon md-font-icon="fa fa-trash-o"></md-icon>
                            </md-button>
                        </md-card-actions>

                    </md-card>
                </div>
            </div>
        </md-tab>
    </md-tabs>
</div>
