<md-dialog aria-label="Settings">

    <md-dialog-content class="billing-dialog">
        <div class="billing-chooseplanstep">
            <div class="billing-stepheader"></div>
            <div ng-if="!selectedplan" layout="row" layout-align="center" class="billing-chooseplanstepbody">
                <div layout="row" class="billing-plancardlist">
                    <md-card ng-repeat="(pid,plan) in plans" style="width:224px">
                        <!--<img ng-src="{{card.img}}" class="md-card-image" alt="Washed Out">-->

                        <div style="padding:12px">
                            <md-card-title-text>
                                <span class="md-headline">{{plan.title}}</span>
                                <br>
                                <span class="md-subhead">{{plan.desc}}</span>
                            </md-card-title-text>
                        </div>
                        <!--<md-card-content></md-card-content>-->
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item class="md-long-text" ng-repeat="(fid, fval) in plan.features">
                                <div class="md-list-item-text">
                                    <p>{{features[fid].desc}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        <div flex></div>
                        <md-divider></md-divider>
                        <md-card-actions layout="row" layout-align="center center">
                            <md-button class="md-raised md-primary" ng-click="selectPlan(plan)">{{'GENERAL.START'|translate}}</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>

            <div ng-if="selectedplan" layout="row" class="billing-chooseplanstepbody">
                <div flex layout="row" class="billing-plancardlist">
                    <md-card style="width:224px">
                        <!--<img ng-src="{{card.img}}" class="md-card-image" alt="Washed Out">-->
                        <div style="padding:12px">
                            <md-card-title-text>
                                <span class="md-headline">{{selectedplan.title}}</span>
                                <br>
                                <span class="md-subhead">{{selectedplan.desc}}</span>
                            </md-card-title-text>
                        </div>
                        <!--<md-card-content></md-card-content>-->
                        <md-divider></md-divider>
                        <md-list>
                            <md-list-item class="md-long-text" ng-repeat="(fid, fval) in selectedplan.features">
                                <div class="md-list-item-text">
                                    <p>{{features[fid].desc}}</p>
                                </div>
                            </md-list-item>
                        </md-list>
                        <div flex></div>

                        <md-divider></md-divider>
                        <md-card-actions layout="row" layout-align="center center">

                            <md-button ng-click="deselectPlan()">
                                <md-icon md-font-icon="fa fa-long-arrow-left"></md-icon>
                                 {{'GENERAL.BACK'|translate}}
                            </md-button>
                        </md-card-actions>
                    </md-card>
                    <div layout="column" flex style="padding:10px 24px;">
                        <!--<img ng-src="{{card.img}}" class="md-card-image" alt="Washed Out">-->
                        <h2 style="color:white;margin-bottom:36px">{{'GENERAL.CONFIRM'|translate}}</h2>
                        <div class="billing-note">
                            <div class="billing-note-body" layout="row">
                                <i class="fa fa-info-circle billing-note-icon" aria-hidden="true"></i>
                                <span class="fb-callout-message"> 從現在起，系統將根據您的即時資料庫、檔案儲存空間、代管服務、Google Cloud 服務 (如 BigQuery) 和 Test Lab for Android 用量向您收費 </span>
                            </div>
                        </div>
                        <div class="b5g-modifyplan-billingtotitle">目標帳單帳戶：</div>
                        <div flex></div>
                        <div layout="row" layout-align="end center">
                            <md-button ng-click="cancel()">
                                {{'GENERAL.CANCEL'|translate}}
                            </md-button>
                            <md-button class="md-raised md-primary" ng-click="confirm()">
                                {{'GENERAL.CONFIRM'|translate}}
                            </md-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </md-dialog-content>
</md-dialog>
