<md-menu ng-if="customPage.devMode==='on'||customPage.settingsGroups.acc.settings.devMode.enabled" ng-init="customPage.getSites()">
    <md-button ng-click="$mdOpenMenu();$event.stopPropagation();"
               aria-label="copy to">Copy to</md-button>
    <md-menu-content width="3">
        <md-menu-item ng-repeat="site in customPage.mysites">
            <md-button ng-click="customPage.copyPageTo(site.siteName)">{{site.siteName}}</md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<custom-item layout="row" layout-wrap content="customPage.html" scope="customPage.scope"></custom-item>
