<form>
    <md-input-container>
        <label>Page Name</label>
        <input type="text" ng-model="vm.pageName">
    </md-input-container>
    <md-button ng-if="!vm.preview" ng-click="vm.compile(targets);vm.preview=true">Preview</md-button>
    <md-button ng-if="vm.preview" ng-click="vm.preview=false">Edit</md-button>
    <md-button ng-click="vm.update()">Save</md-button>
</form>


<md-content ng-show="!vm.preview" class="padded-content-page">
    <div layout="row">
        <div flex="20">
            <div layout="column" layout-xs="column"
                 layout-align="start center"
                 layout-margin>
                <div>
                    Container
                </div>
                <div dragula='"drag-container"'
                     dragula-model='containerSource'>
                    <div style="cursor: move" ng-repeat="container in containerSource track by $index"
                         class="md-whiteframe-2dp"
                         layout-padding>
                        {{container.type}}
                    </div>
                </div>
                <div>
                    Widgets
                </div>
                <div dragula='"drag-row-container"'
                     dragula-model='source'>
                    <div style="cursor: move" class="dragable-widget md-whiteframe-2dp" layout-padding
                         ng-repeat="widget in source track by $index">
                        {{widget.type}}
                    </div>
                </div>
            </div>
        </div>
        <div flex dragula='"drag-container"' dragula-model='containers'>
            <div class="md-whiteframe-3dp"
                 style="cursor: move; min-width: 50px;min-height: 50px"
                 layout="row"
                 layout-align="start center"
                 layout-margin
                 layout-padding
                 ng-repeat="container in containers track by container.id">
                {{container.type}}
                <div ng-if="container.id"
                    flex layout="{{container.layout.all.layout||'row'}}"
                     style="min-width: 50px;min-height: 50px"
                     layout-align="space-around center"
                     dragula='"drag-row-container"' dragula-scope="$parent"
                     dragula-model='subContainers[container.id]'>

                    <div style="cursor: move; background-color: #0b97c4" class="dragable-widget"
                         flex="{{widget.layout.all.flex||''}}"
                         layout="row"
                         layout-margin
                         ng-repeat="widget in subContainers[container.id] track by $index" layout-padding>
                        <span>{{widget.type}}</span>
                        <span flex class="dragable-widget"></span>
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="more action" ng-click="$mdOpenMenu();$event.stopPropagation();"
                                       aria-label="more action">
                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item ng-repeat="action in vm.actions">
                                    <md-button ng-click="vm.action(action, $parent.$parent.$parent.$parent.$index, $parent.$parent.$parent.$index)" translate="{{action}}"
                                               aria-label="{{action}}"></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                </div>
                <md-menu>
                    <md-button class="md-icon-button" aria-label="more action" ng-click="$mdOpenMenu();$event.stopPropagation();"
                               aria-label="more action">
                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-repeat="action in vm.actions">
                            <md-button ng-click="vm.action(action, $parent.$parent.$index)" translate="{{action}}"
                                       aria-label="{{action}}"></md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </div>


</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="editCustomItem">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{vm.item.type}}</h1>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Layout" ng-disabled="vm.item.type==='custom'">
            <div class="padding-40 md-tabs-content">
                <form layout="column">
                    <md-input-container ng-init="vm.layoutBreakpoint='all'">
                        <label>Breakpoint</label>
                        <md-select ng-model="vm.layoutBreakpoint">
                            <md-option ng-value="bp" ng-repeat="bp in vm.layoutOptions.breakpoints">{{ bp }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].layout">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout.layout">{{ size }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>flex</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].flex">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout.flex">{{ size }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>flex-offset</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['flex-offset']">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout['flex-offset']">{{ size }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout-align-x</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].x">
                            <md-option ng-value="xAlign"
                                       ng-repeat="xAlign in vm.layoutOptions.layout['layout-align'].x">{{ xAlign }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout-align-y</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].y">
                            <md-option ng-value="yAlign" ng-repeat="yAlign in vm.layoutOptions.layout['layout-align'].y">{{ yAlign }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'" ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-fill']" ng-false-value="null">
                        Fill
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'" ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-wrap']" ng-false-value="null">
                        Wrap
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'" ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-nowrap']" ng-false-value="null">
                        Nowrap
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'" ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-margin']" ng-false-value="null">
                        Margin
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'" ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-padding']" ng-false-value="null">
                        Padding
                    </md-checkbox>
                    <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['show']" ng-false-value="null">
                        Show
                    </md-checkbox>
                    <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['hide']" ng-false-value="null">
                        hide
                    </md-checkbox>
                </form>
            </div>
        </md-tab>
        <md-tab label="Options" ng-disabled="vm.item.type==='custom'">
            <div class="padding-40 md-tabs-content">
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
            </div>
        </md-tab>
        <md-tab label="HTML" layout-align="center start">
            <div class="padding-10 md-tabs-content">
                <form>
                <textarea ng-if="vm.item.type==='custom'" type="text" id="testInput" rows="35" cols="34"
                          ng-model="vm.item.content" md-autofocus></textarea>
                </form>
                <code ng-if="vm.item.type!=='custom'">{{vm.getHtmlContent(vm.item)}}</code>
            </div>
        </md-tab>
    </md-tabs>
    <md-button ng-click="vm.updateItem()">OK</md-button>
    <md-button ng-click="vm.toggleEditor()">Cancel</md-button>

</md-sidenav>


<custom-item ng-if="vm.preview" content="vm.html"></custom-item>





