<div ng-hide="vm.preview" ng-if="!destroyDragula" ng-init="initDragula()" class="editor-full-height"
     layout="column">
    <md-toolbar class="md-menu-toolbar editor-toolbar">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center" ui-sref="quartz.admin-default.pageManager">
                <md-icon md-font-icon="zmdi zmdi-view-web"></md-icon>
            </md-toolbar-filler>
            <div>
                <input type="text" class="docs-title-input" ng-model="vm.pageName">

                <md-menu-bar>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            File
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ui-sref="quartz.admin-default-no-scroll.pageEditor({pageName:''})">
                                    New
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ui-sref="quartz.admin-default.pageManager">
                                    Open...
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.update()">
                                    Save
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            Edit
                        </button>
                        <md-menu-content>
                            <md-menu-item>
                                <md-button ng-click="vm.undo()">
                                    Undo
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.redo()">
                                    Redo
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                    <md-menu>
                        <button ng-click="$mdOpenMenu()">
                            View
                        </button>
                        <md-menu-content>
                            <md-menu-item ng-if="!vm.preview">
                                <md-button ng-click="vm.compile();vm.preview=true">
                                    Preview Mode
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="!vm.showCss">
                                <md-button ng-click="vm.showCss=true">
                                    Show Css Editor
                                </md-button>
                            </md-menu-item>
                            <md-menu-item ng-if="vm.showCss">
                                <md-button ng-click="vm.showCss=false">
                                    Hide Css Editor
                                </md-button>
                            </md-menu-item>

                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
            <div flex></div>
            <user-menu></user-menu>

        </div>
    </md-toolbar>
    <div layout="row" ng-show="!vm.preview" flex="100">
        <md-content flex="10" style="min-width: 100px">
            <div layout="column" layout-xs="column"
                 layout-align="start center"
                 layout-margin style="overflow: auto">
                <div>
                    Container
                </div>
                <div dragula='"drag-container-root"'
                     dragula-model='containerSource'>
                    <div style="cursor: move; background-color:#B2DFDB;"
                         class="md-whiteframe-2dp root-handle rootContainerSource"
                         layout-padding
                         layout-margin
                         ng-repeat="container in containerSource track by container.cid">
                        {{container.type}}
                    </div>
                </div>
                <div>
                    Subcontainer
                </div>
                <div dragula='"drag-container-lv1"'
                     dragula-model='subContainerSource'>
                    <div style="cursor: move; background-color:#BBDEFB;"
                         class="md-whiteframe-2dp lv1-handle subContainerSource"
                         layout-padding
                         layout-margin
                         ng-repeat="subcontainer in subContainerSource track by subcontainer.cid">
                        {{subcontainer.type}}
                    </div>
                </div>
                <div>
                    Widgets
                </div>
                <div dragula='"drag-container-lv2"'
                     dragula-model='subSubContainerSource'>
                    <div style="cursor: move;background-color:#F0F4C3;"
                         class="lv2-handle md-whiteframe-2dp widgetSource"
                         layout-padding
                         layout-margin
                         ng-repeat="widget in subSubContainerSource track by widget.cid">
                        {{widget.name||widget.type}}
                    </div>
                </div>
            </div>
        </md-content>
        <md-content flex layout-padding">
            <div layout="row" ng-if="vm.showCss">
                <md-input-container flex="50">
                    <label>CSS</label>
                    <textarea name="pageCss" ng-model="vm.pageCss" ng-model-options="{debounce: { 'default': 500, 'blur': 0 } }"></textarea>
                </md-input-container>
            </div>

            <div ng-hide="vm.showCss" layout="row" layout-wrap dragula='"drag-container-root"'
                 dragula-model='containers.root'
                 style="min-width: 100px;min-height: 200px">
                <div flex="{{container.layout.all.flex||''}}"
                     class="md-whiteframe-3dp"
                     style="background-color:#B2DFDB;min-width: 100px;min-height: 200px"
                     layout="column"
                     layout-align="start center"
                     layout-padding
                     ng-repeat="container in containers.root track by container.cid">
                    <div class="root-handle" style="cursor: move; width:100%;margin:0;">
                        {{container.type+' '}}{{container.id}}
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="more action"
                                       ng-click="$mdOpenMenu();$event.stopPropagation();"
                                       aria-label="more action">
                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item ng-repeat="action in vm.actions">
                                    <md-button
                                        ng-click="vm.action(action[0],'root', $parent.$parent.$index)"
                                        translate="{{action[1]}}"
                                        aria-label="{{action[1]}}"></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div layout="{{container.layout.all.layout||'column'}}"
                         style="width:100%;min-width: 100px;min-height: 100px; overflow: hidden;"
                         ng-class="{'layout-wrap': container.layout.all['layout-wrap']}"
                         dragula="'drag-container-lv1'"
                         dragula-scope="$parent"
                         dragula-model="containers[container.cid]">

                        <div style="background-color:#BBDEFB; min-width: 100px;min-height: 100px;"
                             flex="{{subcontainer.layout.all.flex||''}}"
                             layout="column"
                             layout-padding class="md-whiteframe-3dp"
                             ng-repeat="subcontainer in containers[container.cid] track by subcontainer.cid">
                            <div class="lv1-handle" style="cursor: move; margin:0;">
                                {{subcontainer.type+' '}}{{subcontainer.id}}
                                <md-menu>
                                    <md-button class="md-icon-button" aria-label="more action"
                                               ng-click="$mdOpenMenu();$event.stopPropagation();"
                                               aria-label="more action">
                                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item ng-repeat="action in vm.actions">
                                            <md-button
                                                ng-click="vm.action(action[0],container.cid, $parent.$parent.$index)"
                                                translate="{{action[1]}}"
                                                aria-label="{{action[1]}}"></md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>
                            <div flex layout="{{subcontainer.layout.all.layout||'column'}}"
                                 style="width:100%; min-height: 100px;overflow: hidden;"
                                 ng-class="{'layout-wrap': subcontainer.layout.all['layout-wrap']}"
                                 layout-align="space-around center"
                                 dragula='"drag-container-lv2"'
                                 dragula-scope="$parent.$parent"
                                 dragula-model='containers[subcontainer.cid]'>

                                <div style="background-color:#F0F4C3; min-width: 100px; cursor: move" class="md-whiteframe-3dp dragable-widget lv2-handle"
                                     flex="{{widget.layout.all.flex||''}}"
                                     layout="column"
                                     layout-padding
                                     ng-repeat="widget in containers[subcontainer.cid] track by widget.cid">
                                    <div class="lv2-handle" style="cursor: move; margin:0;">
                                        {{widget.name||widget.type+' '}}{{widget.id}}
                                        <md-menu>
                                            <md-button class="md-icon-button" aria-label="more action"
                                                       ng-click="$mdOpenMenu();$event.stopPropagation();"
                                                       aria-label="more action">
                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                            </md-button>
                                            <md-menu-content width="3">
                                                <md-menu-item ng-repeat="action in vm.actions">
                                                    <md-button
                                                        ng-click="vm.action(action[0],subcontainer.cid, $parent.$parent.$index)"
                                                        translate="{{action[1]}}"
                                                        aria-label="{{action[1]}}"></md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </md-content>
    </div>



</div>
<md-content layout="column" ng-if="vm.preview">
    <md-button ng-click="vm.preview=false">
        Back To Edit Mode
    </md-button>
    <custom-item layout="row" layout-wrap  content="vm.html" scope="vm.scope"></custom-item>
</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="editCustomItem">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{vm.item.type}}</h1>
    </md-toolbar>
    <md-tabs md-selected="vm.selectedSideEditorTab" md-dynamic-height md-border-bottom>
        <md-tab label="Options" ng-disabled="vm.item.content&&!vm.isAttrsConfigurable(vm.item.content)">
            <div class="padding-30 md-tabs-content">
                <form>
                    <md-input-container>
                        <label>Tag</label>
                        <input type="text" ng-model="vm.item.tag" ng-disabled="vm.item.content&&!vm.isTagConfigurable(vm.item.content)">
                    </md-input-container>
                    <md-input-container>
                        <label>Id</label>
                        <input type="text" ng-model="vm.item.id">
                    </md-input-container>
                    <br>
                    Class
                    <textarea ng-if="vm.item.type!=='custom'||vm.item.type!=='customWidget'" type="text"
                              rows="5" cols="30"
                              ng-model="vm.item.class"></textarea>
                    Style
                    <textarea ng-if="vm.item.type!=='custom'||vm.item.type!=='customWidget'" type="text"
                              rows="5" cols="30"
                              ng-model="vm.item.style"></textarea>
                    Attrs
                    <textarea ng-if="vm.item.type!=='custom'||vm.item.type!=='customWidget'" type="text"
                              rows="5" cols="30"
                              ng-model="vm.item.attrs"></textarea>
                </form>
            </div>
        </md-tab>

        <md-tab label="Layout" ng-disabled="vm.item.content&&!vm.isAttrsConfigurable(vm.item.content)">
            <div class="padding-40 md-tabs-content">
                <form layout="column">
                    <md-input-container ng-init="vm.layoutBreakpoint='all'">
                        <label>Breakpoint</label>
                        <md-select ng-model="vm.layoutBreakpoint">
                            <md-option ng-value="bp" ng-repeat="bp in vm.layoutOptions.breakpoints">{{ bp }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].layout">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout.layout">{{ size }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>flex</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].flex">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout.flex">{{ size }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>flex-offset</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['flex-offset']">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout['flex-offset']">
                                {{size}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout-align-x</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].x">
                            <md-option ng-value="xAlign"
                                       ng-repeat="xAlign in vm.layoutOptions.layout['layout-align'].x">{{ xAlign }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout-align-y</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].y">
                            <md-option ng-value="yAlign"
                                       ng-repeat="yAlign in vm.layoutOptions.layout['layout-align'].y">{{ yAlign }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-fill']" ng-false-value="null">
                        Fill
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-wrap']" ng-false-value="null">
                        Wrap
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-nowrap']" ng-false-value="null">
                        Nowrap
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-margin']" ng-false-value="null">
                        Margin
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-padding']" ng-false-value="null">
                        Padding
                    </md-checkbox>
                    <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['show']" ng-false-value="null">
                        Show
                    </md-checkbox>
                    <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['hide']" ng-false-value="null">
                        hide
                    </md-checkbox>
                </form>
            </div>
        </md-tab>

        <md-tab label="HTML" layout-align="center start">
            <div class="padding-10 md-tabs-content">
                <form ng-if="vm.item.type==='custom'">
                    <md-button ng-if="!vm.htmlEditor" ng-click="vm.htmlEditor=true">Edit</md-button>
                    <md-button ng-if="vm.htmlEditor===true" ng-click="vm.htmlEditor=false">Hide</md-button>

                <textarea ng-if="vm.htmlEditor" type="text" id="testInput" rows="35" cols="34"
                          ng-model="vm.item.content" md-autofocus></textarea>
                </form>
                <div ng-if="vm.selectedSideEditorTab===2">
                    <code>{{vm.getHtmlContent(vm.item)}}</code>
                </div>

            </div>
        </md-tab>
    </md-tabs>
    <md-button ng-click="vm.updateItem()">OK</md-button>
    <md-button ng-click="vm.toggleEditor()">Cancel</md-button>

</md-sidenav>







