<form>
    <md-input-container>
        <label>Page Name</label>
        <input type="text" ng-model="vm.pageName">
    </md-input-container>
    <md-button ng-if="!vm.preview" ng-click="vm.compile();vm.preview=true">Preview</md-button>
    <md-button ng-if="vm.preview" ng-click="vm.preview=false">Edit</md-button>
    <md-button ng-click="vm.update()">Save</md-button>
    <md-button ng-click="vm.revert()">Revert</md-button>

</form>


<md-content ng-if="!destroyDragula" ng-init="initDragula()" ng-show="!vm.preview" class="padded-content-page">
    <div layout="row">
        <div flex="10">
            <div layout="column" layout-xs="column"
                 layout-align="start center"
                 layout-margin>
                <div>
                    Container
                </div>
                <div dragula='"drag-container-root"'
                     dragula-model='containerSource'>
                    <div style="cursor: move" ng-repeat="container in containerSource track by container.id"
                         class="md-whiteframe-2dp root-handle rootContainerSource"
                         layout-padding>
                        {{container.type}}
                    </div>
                </div>
                <div>
                    Subcontainer
                </div>
                <div dragula='"drag-container-lv1"'
                     dragula-model='subContainerSource'>
                    <div style="cursor: move" ng-repeat="subcontainer in subContainerSource track by subcontainer.id"
                         class="md-whiteframe-2dp lv1-handle subContainerSource"
                         layout-padding>
                        {{subcontainer.type}}
                    </div>
                </div>
                <div>
                    Widgets
                </div>
                <div dragula='"drag-container-lv2"'
                     dragula-model='subSubContainerSource'>
                    <div style="cursor: move" class="dragable-widget lv2-handle md-whiteframe-2dp widgetSource" layout-padding
                         ng-repeat="widget in subSubContainerSource track by widget.id">
                        {{widget.name||widget.type}}
                    </div>
                </div>
            </div>
        </div>

        <div flex>
            <div layout="row" dragula='"drag-container-root"' dragula-model='containers.root'
                 style="min-width: 100px;min-height: 500px">
                <div flex class="md-whiteframe-3dp"
                     style="min-width: 100px;min-height: 500px"
                     layout="column"
                     layout-align="start center"
                     layout-margin
                     ng-repeat="container in containers.root track by container.id">
                    <div class="root-handle" style="cursor: move; width:100%;margin:0; background-color: lightgray">
                        {{container.type}}
                        <md-menu>
                            <md-button class="md-icon-button" aria-label="more action"
                                       ng-click="$mdOpenMenu();$event.stopPropagation();"
                                       aria-label="more action">
                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                            </md-button>
                            <md-menu-content width="3">
                                <md-menu-item ng-repeat="action in vm.actions">
                                    <md-button
                                        ng-click="vm.action(action[0],'root', $parent.$parent.$index)"
                                        translate="{{action[1]}}"
                                        aria-label="{{action[1]}}"></md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <div flex layout="{{container.layout.all.layout||'row'}}"
                         style="min-width: 300px;min-height: 100px"
                         dragula="'drag-container-lv1'"
                         dragula-scope="$parent"
                         dragula-model="containers[container.id]">

                        <div style="min-width: 300px;min-height: 100px; background-color: dimgrey;padding: 0"
                             flex="{{subcontainer.layout.all.flex||''}}"
                             layout="column"
                             layout-margin
                             ng-repeat="subcontainer in containers[container.id] track by subcontainer.id">
                            <div class="lv1-handle" style="cursor: move; margin:0; background-color: lightgray">
                                {{subcontainer.type}}
                                <md-menu>
                                    <md-button class="md-icon-button" aria-label="more action"
                                               ng-click="$mdOpenMenu();$event.stopPropagation();"
                                               aria-label="more action">
                                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                    </md-button>
                                    <md-menu-content width="3">
                                        <md-menu-item ng-repeat="action in vm.actions">
                                            <md-button
                                                ng-click="vm.action(action[0],container.id, $parent.$parent.$index)"
                                                translate="{{action[1]}}"
                                                aria-label="{{action[1]}}"></md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                            <div flex layout="{{subcontainer.layout.all.layout||'row'}}"
                                 style="min-width: 50px;min-height: 50px"
                                 layout-align="space-around center"
                                 dragula='"drag-container-lv2"'
                                 dragula-scope="$parent.$parent"
                                 dragula-model='containers[subcontainer.id]'>

                                <div style="cursor: move; background-color: #0b97c4" class="dragable-widget lv2-handle"
                                     flex="{{widget.layout.all.flex||''}}"
                                     layout="row"
                                     layout-margin
                                     ng-repeat="widget in containers[subcontainer.id] track by widget.id"
                                     layout-padding>
                                    <span>{{widget.name||widget.type}}</span>
                                    <md-menu>
                                        <md-button class="md-icon-button" aria-label="more action"
                                                   ng-click="$mdOpenMenu();$event.stopPropagation();"
                                                   aria-label="more action">
                                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                        </md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item ng-repeat="action in vm.actions">
                                                <md-button
                                                    ng-click="vm.action(action[0],subcontainer.id, $parent.$parent.$index)"
                                                    translate="{{action[1]}}"
                                                    aria-label="{{action[1]}}"></md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="editCustomItem">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{vm.item.type}}</h1>
    </md-toolbar>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Layout" ng-disabled="vm.item.type==='custom'">
            <div class="padding-40 md-tabs-content">
                <form layout="column">
                    <md-input-container ng-init="vm.layoutBreakpoint='all'">
                        <label>Breakpoint</label>
                        <md-select ng-model="vm.layoutBreakpoint">
                            <md-option ng-value="bp" ng-repeat="bp in vm.layoutOptions.breakpoints">{{ bp }}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].layout">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout.layout">{{ size }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>flex</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].flex">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout.flex">{{ size }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>flex-offset</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['flex-offset']">
                            <md-option ng-value="size" ng-repeat="size in vm.layoutOptions.layout['flex-offset']">{{size}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout-align-x</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].x">
                            <md-option ng-value="xAlign"
                                       ng-repeat="xAlign in vm.layoutOptions.layout['layout-align'].x">{{ xAlign }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container>
                        <label>layout-align-y</label>
                        <md-select ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].y">
                            <md-option ng-value="yAlign"
                                       ng-repeat="yAlign in vm.layoutOptions.layout['layout-align'].y">{{ yAlign }}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-fill']" ng-false-value="null">
                        Fill
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-wrap']" ng-false-value="null">
                        Wrap
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-nowrap']" ng-false-value="null">
                        Nowrap
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-margin']" ng-false-value="null">
                        Margin
                    </md-checkbox>
                    <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                 ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-padding']" ng-false-value="null">
                        Padding
                    </md-checkbox>
                    <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['show']" ng-false-value="null">
                        Show
                    </md-checkbox>
                    <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['hide']" ng-false-value="null">
                        hide
                    </md-checkbox>
                </form>
            </div>
        </md-tab>
        <md-tab label="Options" ng-disabled="vm.item.type==='custom'">
            <div class="padding-40 md-tabs-content">
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
            </div>
        </md-tab>
        <md-tab label="HTML" layout-align="center start">
            <div class="padding-10 md-tabs-content">
                <form>
                <textarea ng-if="vm.item.type==='custom'" type="text" id="testInput" rows="35" cols="34"
                          ng-model="vm.item.content" md-autofocus></textarea>
                </form>
                <code ng-if="vm.item.type!=='custom'">{{vm.getHtmlContent(vm.item)}}</code>
            </div>
        </md-tab>
    </md-tabs>
    <md-button ng-click="vm.updateItem()">OK</md-button>
    <md-button ng-click="vm.toggleEditor()">Cancel</md-button>

</md-sidenav>

<custom-item layout="row" ng-if="vm.preview" content="vm.html"></custom-item>






