<div layout="column">
    <md-button class="md-fab" aria-label="fab button"
               style="position: fixed; bottom: 40px; right: 40px"
               ui-sref="quartz.admin-default-no-scroll.widgetEditor">
        <md-icon md-font-icon="zmdi zmdi-plus"></md-icon>
    </md-button>
    <div layout="column">
        <md-table-container flex>
            <table md-table md-progress="vm.paginator.promise">
                <thead md-head md-order="'_id'" md-on-reorder="vm.onReorder">
                <tr md-row>
                    <th md-column md-order-by="name">Widget Name</th>
                    <th md-column md-order-by="author">Author</th>
                    <th md-column md-order-by="editTime">Edit Time</th>
                    <th md-column></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="(id, widget) in vm.paginator.result.hits">
                    <td md-cell>{{widget.name}}</td>
                    <td md-cell>{{widget.author}}</td>
                    <td md-cell>{{widget.editTime| date: 'medium'}}</td>
                    <td md-cell style="width:50px;">
                        <div layout="row">
                            <span flex></span>
                            <md-menu>
                                <md-button class="md-icon-button" aria-label="more action" ng-click="$mdOpenMenu();$event.stopPropagation();"
                                           aria-label="more action">
                                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                </md-button>
                                <md-menu-content width="3">
                                    <md-menu-item ng-repeat="action in vm.actions">
                                        <md-button ng-click="vm.action(action[0], widget._key, widget.name)" translate="{{action[1]}}"
                                                   aria-label="{{action[1]}}"></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="vm.paginator.size" md-page="vm.paginator.page"
                             ng-show="vm.paginator.size<vm.paginator.result.total"
                             md-total="{{vm.paginator.result.total}}"
                             md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
    </div>
</div>
