<div layout="row" layout-align="center">
    <md-card class="table-card" ng-if="vm.paginator.result.total>0">
        <md-card-actions layout="row" style="margin:3px">
            <md-button ng-hide="vm.showFilter"
                       class="md-icon-button toolbar-button"
                       style="color:black"
                       ng-click="vm.showFilter = !vm.showFilter">
                <md-icon md-font-icon="zmdi zmdi-filter-list"></md-icon>
            </md-button>
            <div flex></div>
        </md-card-actions>
        <md-card-content>
            <md-card ng-show="vm.showFilter">
                <md-card-content>
                    <form name="filterForm">
                        <div layout='row' layout-margin layout-padding>
                            <md-input-container flex>
                                <label>Filter</label>
                                <md-select ng-model="vm.orderBy">
                                    <md-option ng-repeat="filter in vm.filters" value="{{filter[1]}}">
                                        {{filter[0]}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex>
                                <label>Equal</label>
                                <input ng-model="vm.equalTo">
                            </md-input-container>
                            <md-input-container ng-if="!vm.equalTo" flex>
                                <label>From</label>
                                <input ng-model="vm.startAt">
                            </md-input-container>
                            <md-input-container ng-if="!vm.equalTo" flex>
                                <label>To</label>
                                <input ng-model="vm.endAt">
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end">
                    <md-button class="md-primary md-raised" ng-click="vm.getFiltered()">
                        OK
                    </md-button>
                    <md-button class="md-accent md-raised" ng-click="vm.showFilter = !vm.showFilter">
                        Cancel
                    </md-button>
                </md-card-actions>
            </md-card>
            <div layout="row" layout-xs="column" layout-wrap>
                <md-table-container flex>
                    <table md-table md-progress="vm.paginator.promise">
                        <thead md-head md-order="'_id'" md-on-reorder="vm.onReorder">
                        <tr md-row>
                            <th md-column md-order-by="">ID</th>
                            <th md-column md-order-by="info/name">Name</th>
                            <th md-column md-order-by="class">Class</th>
                            <th md-column md-order-by="createdTime">Created Time</th>
                            <th md-column></th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row
                            ng-repeat="(userIndex, user) in vm.paginator.result.hits">
                            <td md-cell>{{user._key}}</td>
                            <td md-cell>{{user.info.name}}</td>
                            <td md-cell>{{vm.userClasses[user.class].name}}</td>
                            <td md-cell>{{user.createdTime| date: 'medium'}}</td>
                            <td md-cell style="width:50px;">
                                <div layout="row">
                                    <span flex></span>
                                    <md-menu>
                                        <md-button class="md-icon-button" aria-label="more action" ng-click="$mdOpenMenu()"
                                                   aria-label="more action">
                                            <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                        </md-button>
                                        <md-menu-content width="3">
                                            <md-menu-item>
                                                <md-button ng-click="vm.showDetail($event,user)">{{'USERS.INFO'}}</md-button>
                                            </md-menu-item>
                                            <md-menu ng-if="vm.userClasses.length">
                                                <md-button aria-label="change status" ng-click="$mdOpenMenu()"
                                                           aria-label="more action">{{'USERS.SETCLASS'|translate}}
                                                    <md-icon md-font-icon="fa fa-angle-right"></md-icon>
                                                </md-button>
                                                <md-menu-content width="3">
                                                    <md-menu-item ng-repeat="class in vm.userClasses">
                                                        <md-button ng-click="vm.setAs(user._key, $index)"
                                                                   aria-label="{{class.name}}">{{class.name}}</md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination flex="100" md-limit="vm.paginator.size" md-page="vm.paginator.page"
                                     ng-if="vm.paginator.size<vm.paginator.result.total"
                                     md-total="{{vm.paginator.result.total}}"
                                     md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
            </div>
        </md-card-content>
    </md-card >
    <div class="margin-50" ng-if="vm.paginator.result.total==0">
        {{'USERS.NOUSERS'}}
    </div>
</div>
