<md-content class="padded-content-page">
    <!--<div dragula='"drag-row-container"'>-->
    <!--<span class="dragable-widget" ng-repeat="element in elements">-->
    <!--<custom-item content="element.content"></custom-item> {{element.name}}-->
    <!--</span>-->
    <!--</div>-->
    <div layout="row">
        <div flex="20">
            <div layout="column" layout-xs="column"
                 layout-align="start center"
                 layout-margin>
                <div>
                    Container
                </div>
                <div dragula='"drag-container"'
                     dragula-model='rowSource'  layout-fill >
                    <div style="cursor: move" ng-repeat="row in rowSource" class="md-whiteframe-2dp" layout-padding>
                        {{row.type}}
                    </div>
                </div>
                <div>
                    Widgets
                </div>
                <div dragula='"drag-row-container"'
                     dragula-model='source'  layout-fill>
                    <div style="cursor: move" class="dragable-widget md-whiteframe-2dp" layout-padding ng-repeat="widget in source">
                        {{widget.name}}
                    </div>
                </div>
            </div>
        </div>
        <div flex dragula='"drag-container"' dragula-model='targets'>
            <div class="md-whiteframe-3dp"
                 style="min-width: 50px;min-height: 50px"
                 layout="row"
                 layout-align="start center"
                 layout-margin
                 layout-padding
                 ng-repeat="row in targets">
                {{row.type}}
                <div flex layout="{{row.options.layout||'row'}}"
                     style="min-width: 50px;min-height: 50px"
                     layout-align="space-around center"
                     dragula='"drag-row-container"'
                     dragula-model='targets[$index].widgets'>

                    <div style="cursor: move; background-color: #0b97c4" class="dragable-widget"
                         flex="{{widget.options.flex||''}}"
                         layout-margin
                         ng-repeat="widget in row.widgets" layout-padding ng-click="vm.editItem($parent.$index,$index)">
                        {{widget.name}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{targets}}
    <hr>
    <md-button ng-click="vm.compile(targets)">compile</md-button>
    <custom-item content="vm.html"></custom-item>



</md-content>
<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="editCustomItem">
    <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">{{vm.item.type}}</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form>
            <md-input-container>
                <label for="testInput">Test input</label>
                <input type="text" id="testInput"
                       ng-model="data" md-autofocus>
            </md-input-container>
        </form>
        <md-button ng-click="vm.toggleEditor()" class="md-primary">
            Close Sidenav Right
        </md-button>
    </md-content>
</md-sidenav>




