<md-content class="padded-content-page">
    <div layout="column" layout-margin>
        <md-card>
            <div layout="column" ng-cloak class="md-inline-form">
                <md-content layout-padding layout-gt-xs="row" md-theme="docs-dark">
                    <form layout-fill>
                        <fieldset>
                            <legend><h3>Merchant Info</h3></legend>
                            <div layout="row">
                                <md-input-container flex="33">
                                    <label>Publishable Key</label>
                                    <input type='text' ng-model="vm.data.payment.stripe.key" ng-change="vm.merchantChange()">
                                </md-input-container>
                            </div>

                        </fieldset>

                    </form>
                </md-content>
                <md-content layout-padding layout-gt-xs="row">
                    <form name="allpayOrder">

                        <fieldset>
                            <legend><h3>Payment Info</h3></legend>
                            <md-input-container flex-xs="50">
                                <label>name</label>
                                <input ng-model="vm.data.payment.stripe.name">
                            </md-input-container>
                            <md-input-container flex-xs="50">
                                <label>description</label>
                                <input ng-model="vm.data.payment.stripe.description">
                            </md-input-container>
                            <md-input-container flex-xs="50">
                                <label>amount</label>
                                <input ng-model="vm.data.payment.stripe.amount">
                            </md-input-container>
                            <md-input-container flex-xs="50">
                                <label>image</label>
                                <input ng-model="vm.data.payment.stripe.image">
                            </md-input-container>
                            <br>

                            <stripe-checkout data="vm.data"></stripe-checkout>

                        </fieldset>

                    </form>
                </md-content>
            </div>
        </md-card>
    </div>
</md-content>




