$editorToolbarHeight:74px;

.editor-full-height {
    position: absolute;
    width: 100%;
    top: $editorToolbarHeight;
    bottom: 0;
    overflow: hidden;
}

.docs-title-input {
    border: 1px solid transparent;
    border-radius: 2px !important;
    line-height: 22px;
    margin: 6px 20px 0 20px;
    min-width: 1px;
    padding: 2px 7px;
}

.editor-toolbar {
    height:$editorToolbarHeight;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.14);
    z-index: 4;
}

.dimmed {
    position: relative;
}

.dimmed:after {
    content: " ";
    z-index: 10;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}

.dSource {
    cursor: move;
    width: 70px;
    text-align: center;
}

textarea.borderless {
    border: none;
    overflow: auto;
    outline: none;
    resize: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.containerHandle {
    cursor: move;
    width: 100%;
    margin: 0;
}

.outerContainer {
    min-width: 100px;
    min-height: 100px;
    :focus {
        outline: 0;
    }
}


/*.outerContainer .focus{
    height:100%;
    width:100%;
    background-color: red;
}*/
$rootcolor: #F9CC9D;
$lv1color:#FDDD9B;
$lv2color:#C2CF8A;
$selectedcolor:#8BB5C0;

#root {
    border: 4px solid white;
    background-color: $rootcolor;
}

#lv1 {
    border: 4px solid $rootcolor;
    background-color: $lv1color;
}

#lv2 {
    border: 4px solid $lv1color;
    background-color: $lv2color;
}

.rootfocus {
    height: 100%;
    background-color: $selectedcolor;
    color:white;
}
.rootfocus #lv1{
    border: 4px solid $selectedcolor;
    color:black;
}
.lv1focus {
    height: 100%;
    background-color: $selectedcolor;
    color:white;
}
.lv1focus #lv2{
    border: 4px solid $selectedcolor;
    color:black;
}
.lv2focus {
    height: 100%;
    background-color: $selectedcolor;
    color:white;
}


.containerTitle span {
    padding-top: 15px;
}

.innerContainer {
    width: 100%;
    min-width: 100px;
    min-height: 100px;
    overflow: hidden;
}

.bgcolor{
    background-color:#EEEEEE !important;
}
.bgcolor.whitebg{
    background-color:white !important;
}
//resizable

.resizable-main-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    background: #fff;
}

.resizable .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-around;
    //-ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    height: 100%;
    //padding: 7px;
}

.resizable .titlebar {
    padding-left: 20px;
    width: 100%;
    //background: #7bd389;
    color: #2d883c;
}

.resizable .r-row {
    //min-height: 50px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    //-ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
}

//.r-row .resizable {
//    -webkit-box-flex: 0;
//    -webkit-flex: 0 0 300px;
//    -ms-flex: 0 0 300px;
//    flex: 0 0 300px;
//}
.resizable .box {
    box-sizing: border-box;
    padding: 1.25em 1.75em;
    background: #ddd;
    border: 7px solid #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 30px;
}

.resizable section {
    box-sizing: border-box;
    //border-radius: 10px;
    //padding: 1.25em 1.75em;
    background: #ddd;
    //border: 7px solid #fff;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 30px;
    min-height: 100px;
}

section.resizable {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
}

.resizable {
    position: relative;
}

.resizable.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

.rg-right, .rg-left, .rg-top, .rg-bottom {
    display: block;
    width: 10px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    z-index: 11;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #DDDDDD;
}

.rg-right span, .rg-left span, .rg-top span, .rg-bottom span {
    position: absolute;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
}

.rg-right span, .rg-left span {
    border-width: 0 1px;
    top: 50%;
    margin-top: -8px;
    margin: -8px 0 0 2.5px;
    height: 20px;
    width: 4px;
}

.rg-top span, .rg-bottom span {
    border-width: 1px 0;
    left: 50%;
    margin: 2.5px 0 0 -10px;
    width: 20px;
    height: 4px;
}

.rg-top {
    cursor: row-resize;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -4px;
}

.rg-right {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    margin-right: -8px;
}

.rg-bottom {
    cursor: row-resize;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: -4px;
}

.rg-left {
    cursor: col-resize;
    height: 100%;
    left: 0;
    top: 0;
    margin-left: -8px;
}

