<!--Toolbar-->
<md-toolbar ng-if="!vm.fullPagePreview" class="md-menu-toolbar editor-toolbar">
    <div layout="row">
        <md-toolbar-filler style="cursor:pointer" layout layout-align="center center"
                           ui-sref="quartz.admin-default.pageManager">
            <md-icon md-font-icon="zmdi zmdi-view-web"></md-icon>
        </md-toolbar-filler>
        <div>
            <input type="text" class="docs-title-input" ng-model="vm.pageName">

            <md-menu-bar>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">
                        {{'GENERAL.FILE'|translate}}
                    </button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ui-sref="quartz.admin-default-no-scroll.pageEditor({pageName:''})">
                                {{'GENERAL.NEW'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ui-sref="quartz.admin-default.pageManager">{{'GENERAL.OPEN'|translate}}
                            </md-button>
                        </md-menu-item>

                        <md-menu-item>
                            <md-button ng-click="vm.update()" translate>{{'GENERAL.SAVE'|translate}}</md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="vm.selectedSettingsTab=0;vm.showSettinsTab($event)">
                                {{'EDITOR.SETTINGS'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>

                        <md-menu-item>
                            <md-button ngf-select="vm.import($files)">{{'GENERAL.IMPORT'|translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-click="vm.export()" translate>{{'GENERAL.EXPORT'|translate}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">{{'GENERAL.EDIT'|translate}}</button>
                    <md-menu-content width="3">
                        <md-menu-item class="md-indent">
                            <md-icon md-svg-icon="undo"></md-icon>
                            <md-button ng-click="vm.undo()">{{'GENERAL.UNDO'|translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon md-svg-icon="redo"></md-icon>
                            <md-button ng-click="vm.redo()">{{'GENERAL.REDO'|translate}}</md-button>
                        </md-menu-item>
                        <md-menu-item class="md-indent">
                            <md-icon md-font-icon="fa fa-eraser"></md-icon>
                            <md-button ng-click="vm.clearAll()">{{'GENERAL.CLEARALL'|translate}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">{{'GENERAL.VIEW'|translate}}</button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">{{'GENERAL.RESPONSIVEMODE'|translate}}
                                </md-button>
                                <md-menu-content width="3">
                                    <!--<md-menu-item ng-repeat="bp in vm.layoutOptions.breakpoints" type="radio" ng-model="vm.layoutBreakpoint" value="{{bp}}">{{bp}}</md-menu-item>-->
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>
                        <md-menu-item>
                            <md-menu>
                                <md-button ng-click="$mdOpenMenu()">{{'GENERAL.MEDIAWIDTH'|translate}}</md-button>
                                <md-menu-content width="3">
                                    <md-menu-item type="radio" ng-model="vm.media" value="'all'">
                                        {{'GENERAL.ALL'|translate}}
                                    </md-menu-item>
                                    <md-menu-item type="radio" ng-model="vm.media" value="'0~599'">0~599
                                    </md-menu-item>
                                    <md-menu-item type="radio" ng-model="vm.media" value="'600~959'">600~959
                                    </md-menu-item>
                                    <md-menu-item type="radio" ng-model="vm.media" value="'960~1279'">960~1279
                                    </md-menu-item>
                                    <md-menu-item type="radio" ng-model="vm.media" value="'1280~1919'">1280~1919
                                    </md-menu-item>
                                    <md-menu-item type="radio" ng-model="vm.media" value="'>1920'">>1920
                                    </md-menu-item>
                                    <!--<md-menu-item type="radio" ng-repeat="mq in vm.layoutOptions.mediaQueries"-->
                                    <!--ng-model="vm.media" value="{{mq}}">{{mq}}-->
                                    <!--</md-menu-item>-->
                                </md-menu-content>
                            </md-menu>
                        </md-menu-item>

                        <md-menu-divider></md-menu-divider>
                        <md-menu-item ng-if="!vm.fullPagePreview">
                            <md-button ng-click="vm.fullPagePreview=true;">
                                {{'GENERAL.PREVIEW'|translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-menu>
                    <button ng-click="$mdOpenMenu()">{{'GENERAL.TOOLS'|translate}}</button>
                    <md-menu-content width="3">
                        <md-menu-item ng-if="!vm.showCss">
                            <md-button ng-click="vm.showCss=true">
                                {{'GENERAL.SHOW'|translate}}{{'GENERAL.CSSEDITOR'|translate}}
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-if="vm.showCss">
                            <md-button ng-click="vm.showCss=false">
                                {{'GENERAL.HIDE'|translate}}{{'GENERAL.CSSEDITOR'|translate}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </div>
        <div flex></div>
        <user-menu></user-menu>

    </div>
</md-toolbar>
<div ng-show="!vm.fullPagePreview" class=" editor-full-height">


    <!--Show Preview Button-->

    <!--Editor-->
    <div ng-hide="vm.fullPagePreview" class="resizable-main-container" style="background-color:#DDDDDD">
        <!--View buttons-->
        <div style="position:fixed;left:0;bottom:0; cursor:pointer;z-index:12">
            <md-icon ng-hide="vm.cssHtmlPanel" ng-click="vm.showCssHtml()" md-font-icon="fa fa-expand"
                     aria-label="hide html"></md-icon>
            <md-icon ng-show="vm.cssHtmlPanel" ng-click="vm.hideCssHtml()" md-font-icon="fa fa-compress"
                     aria-label="hide html"></md-icon>
            </span>
        </div>
        <!--LEFT-->
        <div style="width:100%" class="resizable" flex>
            <div class="content">
                <div resizable r-directions="['bottom']" style="height:500px" ng-style="vm.layoutEditorStyle">
                    <section style="height:100%" layout="row" ng-if="!destroyDragula" ng-init="initDragula()">
                        <md-content style="width: 130px;background:#EEEEEE">
                            <div layout="column" layout-xs="column"
                                 layout-align="start center"
                                 layout-margin style="overflow: auto">
                                <div>
                                    Container
                                </div>
                                <div dragula='"drag-container-root"'
                                     dragula-model='containerSource'>
                                    <div style="background-color:#F9CC9D;"
                                         class="md-whiteframe-2dp root-handle rootContainerSource dSource"
                                         layout-padding
                                         layout-margin
                                         ng-repeat="container in containerSource track by container.cid">
                                        {{container.type|uppercase}}
                                    </div>
                                </div>
                                <div>
                                    Subcontainer
                                </div>
                                <div dragula='"drag-container-lv1"'
                                     dragula-model='subContainerSource'>
                                    <div style="background-color:#FDDD9B;"
                                         class="md-whiteframe-2dp lv1-handle subContainerSource dSource"
                                         layout-padding
                                         layout-margin
                                         ng-repeat="subcontainer in subContainerSource track by subcontainer.cid">
                                        {{subcontainer.type|uppercase}}
                                    </div>
                                </div>
                                <div>
                                    Elements
                                </div>
                                <div dragula='"drag-container-lv2"'
                                     dragula-model='subSubContainerSource'>
                                    <div style="background-color:#C2CF8A;"
                                         class="md-whiteframe-2dp lv2-handle elementSource dSource"
                                         layout-padding
                                         layout-margin
                                         ng-repeat="element in subSubContainerSource track by element.cid">
                                        {{element.type|uppercase}}
                                    </div>
                                </div>
                            </div>
                        </md-content>
                        <md-content  flex class="bgcolor">
                            <div style="margin:20px;padding:20px;min-height:90%;background-color:white;" class="md-whiteframe-3dp">
                                <div layout="row" class="containerTitle">
                                    <md-button class="md-icon-button" aria-label="more action"
                                               ng-click="vm.editItem('canvas')"
                                               aria-label="edit">
                                        <md-icon md-font-icon="fa fa-pencil-square-o"></md-icon>
                                    </md-button>

                                </div>

                                <div layout="{{vm.canvas.layout[vm.layoutBreakpoint].layout||'row'}}"
                                     dragula='"drag-container-root"'
                                     dragula-model='containers.root'
                                     ng-class="vm.getContainerClass(vm.canvas||{}).inner"
                                     style="min-width: 200px;min-height: 200px;">
                                    <div class="outerContainer"
                                         id="root"
                                         ng-class="vm.getContainerClass(container).outer"
                                         layout="column"
                                         ng-repeat="(rootIndex, container) in containers.root track by container.cid"
                                         ng-click="$event.stopPropagation();vm.editItem('root',rootIndex)">
                                        <div ng-class="{rootfocus:vm.selectedContainerId==='root'&&vm.selectedItemIndex===rootIndex,'layout-margin':vm.containerClass['root'][rooIndex]}">
                                            <div layout="row" class="containerTitle">
                                                <md-icon md-font-icon="fa fa-arrows" class="root-handle containerHandle"></md-icon>
                                                <span >{{container.type==='part'?'part':container.type==='text'? 'text': '<'+(container.tag||'div')+'>'}}</span>
                                                <span ng-show="container.id">#{{container.id}}</span>
                                                <span flex></span>
                                                <md-menu>
                                                    <md-button class="md-icon-button" aria-label="more action"
                                                               ng-click="$mdOpenMenu();$event.stopPropagation();vm.editItem('root',rootIndex)"
                                                               aria-label="more action">
                                                        <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                                    </md-button>
                                                    <md-menu-content width="3">
                                                        <md-menu-item>
                                                            <md-button ngf-select="vm.import($files, 'root',rootIndex)" ngf-max-size="100KB">{{'GENERAL.IMPORT'|translate}}</md-button>
                                                        </md-menu-item>
                                                        <md-menu-item ng-repeat="action in vm.actions">
                                                            <md-button
                                                                ng-click="vm.action(action[0],'root', rootIndex)"
                                                                translate="{{action[1]}}"
                                                                aria-label="{{action[1]}}"></md-button>
                                                        </md-menu-item>
                                                    </md-menu-content>
                                                </md-menu>

                                            </div>
                                            <div class="innerContainer"
                                                 ng-class="vm.getContainerClass(container).inner"
                                                 dragula="'drag-container-lv1'"
                                                 dragula-scope="$parent"
                                                 dragula-model="containers[container.cid]">

                                                <div ng-class="vm.getContainerClass(subcontainer).outer"
                                                     layout="column"
                                                     class="outerContainer"
                                                     id="lv1"
                                                     ng-repeat="(subIndex,subcontainer) in containers[container.cid] track by subcontainer.cid"
                                                     ng-click="$event.stopPropagation();vm.editItem(container.cid,subIndex)">
                                                    <div ng-class="{lv1focus:vm.selectedContainerId===container.cid&&vm.selectedItemIndex===subIndex}">
                                                        <div layout="row" class="containerTitle">
                                                            <md-icon md-font-icon="fa fa-arrows" class="lv1-handle  containerHandle"></md-icon>

                                                            <!--<span ng-show="subcontainer.type!=='text'"><{{subcontainer.tag||'div'}}></span>-->
                                                            <span>{{subcontainer.type==='part'?'part': subcontainer.type==='text'? 'text': '<'+(subcontainer.tag||'div')+'>'}}</span>
                                                            <span ng-show="subcontainer.id">#{{subcontainer.id}}</span>
                                                            <span flex></span>

                                                            <md-menu>
                                                                <md-button class="md-icon-button" aria-label="more action"
                                                                           ng-click="$mdOpenMenu();$event.stopPropagation();vm.editItem(container.cid,subIndex)"
                                                                           aria-label="more action">
                                                                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                                                </md-button>
                                                                <md-menu-content width="3">
                                                                    <md-menu-item>
                                                                        <md-button ngf-select="vm.import($files, container.cid, subIndex)" ngf-max-size="100KB">{{'GENERAL.IMPORT'|translate}}</md-button>
                                                                    </md-menu-item>
                                                                    <md-menu-item ng-repeat="action in vm.actions">
                                                                        <md-button
                                                                            ng-click="vm.action(action[0],container.cid, subIndex)"
                                                                            translate="{{action[1]}}"
                                                                            aria-label="{{action[1]}}"></md-button>
                                                                    </md-menu-item>
                                                                </md-menu-content>
                                                            </md-menu>
                                                        </div>
                                                        <div class="innerContainer"
                                                             ng-class="vm.getContainerClass(subcontainer).inner"
                                                             dragula='"drag-container-lv2"'
                                                             dragula-scope="$parent.$parent"
                                                             dragula-model='containers[subcontainer.cid]'>

                                                            <div ng-class="vm.getContainerClass(widget).outer"
                                                                 class="dragable-widget outerContainer"
                                                                 id="lv2"
                                                                 layout="column"
                                                                 ng-repeat="(widgetIndex,widget) in containers[subcontainer.cid] track by widget.cid"
                                                                 ng-click="$event.stopPropagation();vm.editItem(subcontainer.cid,widgetIndex)">
                                                                <div ng-class="{lv2focus:vm.selectedContainerId===subcontainer.cid&&vm.selectedItemIndex===widgetIndex}">
                                                                    <div layout="row" class="containerTitle">
                                                                        <md-icon md-font-icon="fa fa-arrows" class="lv2-handle  containerHandle"></md-icon>

                                                                        <span>{{widget.type==='part'?'part':widget.type==='text'? 'text': '<'+(widget.tag||'div')+'>'}}</span>
                                                                        <span ng-show="widget.id">#{{widget.id}}</span>
                                                                        <span flex></span>

                                                                        <md-menu>
                                                                            <md-button class="md-icon-button" aria-label="more action"
                                                                                       ng-click="$mdOpenMenu();$event.stopPropagation();vm.editItem(subcontainer.cid,widgetIndex)"
                                                                                       aria-label="more action">
                                                                                <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                                                            </md-button>
                                                                            <md-menu-content width="3">
                                                                                <md-menu-item>
                                                                                    <md-button ngf-select="vm.import($files, subcontainer.cid, widgetIndex)" ngf-max-size="100KB">{{'GENERAL.IMPORT'|translate}}</md-button>
                                                                                </md-menu-item>
                                                                                <md-menu-item ng-repeat="action in vm.actions">
                                                                                    <md-button
                                                                                        ng-click="vm.action(action[0],subcontainer.cid, widgetIndex)"
                                                                                        translate="{{action[1]}}"
                                                                                        aria-label="{{action[1]}}"></md-button>
                                                                                </md-menu-item>
                                                                            </md-menu-content>
                                                                        </md-menu>
                                                                    </div>
                                                                    <div class="innerContainer"></div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </md-content>
                        <md-content style="height:100%;width:280px;" ng-keyup="vm.debouncedUpdateItem()" class="bgcolor" ng-class="{whitebg:vm.item.type&&vm.item.type!=='text'||vm.selectedContainerId==='canvas'}"
                                    ng-mouseup="vm.debouncedUpdateItem()">
                            <md-tabs ng-if="vm.item.type&&vm.item.type!=='text'||vm.selectedContainerId==='canvas'" md-selected="vm.selectedSideEditorTab"
                                     md-dynamic-height>
                                <md-tab label="{{'DESIGN.PROP'|translate}}">
                                    <div class="padding-30 md-tabs-content">
                                        <form>
                                            <md-input-container>
                                                <label>Tag</label>
                                                <input type="text" ng-model="vm.item.tag" ng-disabled="vm.selectedContainerId==='canvas'">
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Id</label>
                                                <input type="text" ng-model="vm.item.id">
                                            </md-input-container>
                                            <md-input-container>
                                                <label>Controller</label>
                                                <md-select ng-model="vm.item.ctrl">
                                                    <md-option ng-value="ctrl[0]" ng-repeat="ctrl in vm.ctrls">{{ctrl[0]}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container ng-if="vm.item.ctrl">
                                                <label>Controller as</label>
                                                <input type="text" ng-model="vm.item.ctrlAs">
                                            </md-input-container>
                                            <br>
                                            Class
                                            <textarea ng-if="vm.item.type!=='custom'||vm.item.type!=='customWidget'"
                                                      type="text"
                                                      rows="3" cols="25"
                                                      ng-model="vm.item.class"></textarea>
                                            Style
                                            <textarea ng-if="vm.item.type!=='custom'||vm.item.type!=='customWidget'"
                                                      type="text"
                                                      rows="3" cols="25"
                                                      ng-model="vm.item.style"></textarea>
                                            Attrs
                                            <textarea ng-if="vm.item.type!=='custom'||vm.item.type!=='customWidget'"
                                                      type="text"
                                                      rows="5" cols="25"
                                                      ng-model="vm.item.attrs"></textarea>
                                        </form>
                                    </div>
                                </md-tab>

                                <md-tab label="{{'DESIGN.LAYOUT'|translate}}">
                                    <div class="padding-40 md-tabs-content">
                                        <form layout="column">
                                            <md-input-container ng-init="vm.layoutBreakpoint='all'">
                                                <label>Breakpoint</label>
                                                <md-select ng-model="vm.layoutBreakpoint">
                                                    <md-option ng-value="bp"
                                                               ng-repeat="bp in vm.layoutOptions.breakpoints">{{ bp }}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>layout</label>
                                                <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].layout">
                                                    <md-option ng-value="size"
                                                               ng-repeat="size in vm.layoutOptions.layout.layout">{{size}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>flex</label>
                                                <md-select ng-model="vm.item.layout[vm.layoutBreakpoint].flex">
                                                    <md-option ng-value="size"
                                                               ng-repeat="size in vm.layoutOptions.layout.flex">{{size}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>flex-offset</label>
                                                <md-select
                                                    ng-model="vm.item.layout[vm.layoutBreakpoint]['flex-offset']">
                                                    <md-option ng-value="size"
                                                               ng-repeat="size in vm.layoutOptions.layout['flex-offset']">
                                                        {{size}}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>flex-order</label>
                                                <input type="number"
                                                       ng-model="vm.item.layout[vm.layoutBreakpoint]['flex-order']">
                                            </md-input-container>
                                            <md-input-container>
                                                <label>layout-align-x</label>
                                                <md-select
                                                    ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].x">
                                                    <md-option ng-value="xAlign"
                                                               ng-repeat="xAlign in vm.layoutOptions.layout['layout-align'].x">
                                                        {{ xAlign }}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-input-container>
                                                <label>layout-align-y</label>
                                                <md-select
                                                    ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-align'].y">
                                                    <md-option ng-value="yAlign"
                                                               ng-repeat="yAlign in vm.layoutOptions.layout['layout-align'].y">
                                                        {{ yAlign }}
                                                    </md-option>
                                                </md-select>
                                            </md-input-container>
                                            <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                                         ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-fill']"
                                                         ng-false-value="null">
                                                Fill
                                            </md-checkbox>
                                            <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                                         ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-wrap']"
                                                         ng-false-value="null">
                                                Wrap
                                            </md-checkbox>
                                            <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                                         ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-nowrap']"
                                                         ng-false-value="null">
                                                Nowrap
                                            </md-checkbox>
                                            <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                                         ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-margin']"
                                                         ng-false-value="null">
                                                Margin
                                            </md-checkbox>
                                            <md-checkbox ng-disabled="vm.layoutBreakpoint!=='all'"
                                                         ng-model="vm.item.layout[vm.layoutBreakpoint]['layout-padding']"
                                                         ng-false-value="null">
                                                Padding
                                            </md-checkbox>
                                            <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['show']"
                                                         ng-false-value="null">
                                                Show
                                            </md-checkbox>
                                            <md-checkbox ng-model="vm.item.layout[vm.layoutBreakpoint]['hide']"
                                                         ng-false-value="null">
                                                hide
                                            </md-checkbox>
                                        </form>
                                    </div>
                                </md-tab>

                            </md-tabs>
                            <!--<md-button ng-click="vm.updateItem()">OK</md-button>
                            <md-button ng-click="vm.toggleEditor()">Cancel</md-button>-->

                        </md-content>

                    </section>
                </div>
                <div class="r-row" ng-if="vm.cssHtmlPanel">

                    <section resizable r-directions="['right']" r-flex="true" >
                        <span class="titlebar" layout="row">
                            <span>HTML</span><span flex></span><!--<md-icon md-font-icon="fa fa-times"
                                                                        aria-label="hide html"></md-icon>-->
                        </span>
                        <md-content style="height:100%;" ng-class="{dimmed:vm.dimHtml}">
                            <!--<div ng-hide="vm.item.type==='text'||vm.item.content.indexOf('&lt;!&ndash;include&ndash;&gt;')===-1" style="height:100%;width:100%;background-color:#DDDDDD;"></div>-->
                            <div ng-if="vm.item.type==='text'||vm.item.content.indexOf('<!--include-->')===-1" ng-init="vm.dimHtml=false"></div>
                            <div ng-if="vm.item.type&&vm.item.type!=='text'&&vm.item.content.indexOf('<!--include-->')!==-1" ng-init="vm.dimHtml=true"></div>
                            <code ng-if="vm.dimHtml">{{vm.compileContent(vm.item)}}</code>

                            <textarea  ng-if="!vm.dimHtml" type="text" class="borderless" style="height: 96%;width:100%;"
                                      ng-change="vm.debouncedUpdateItem()"
                                      ng-model="vm.item.content"
                                      ng-model-options="{debounce: { 'default': 500, 'blur': 0 } }"></textarea>
                        </md-content>

                    </section>
                    <section flex>
                        <span class="titlebar" layout="row">
                            <span>CSS</span><span flex></span><!--<md-icon md-font-icon="fa fa-times"
                                                                        aria-label="hide html"></md-icon>-->
                        </span>
                        <md-content style="height:100%;width:100%;">
                            <textarea type="text" class="borderless" style="height: 96%;width:100%;padding-left:10px"
                                      ng-change="vm.debouncedUpdateItem()"
                                      ng-model="vm.css"
                                      ng-model-options="{debounce: { 'default': 500, 'blur': 0 } }"></textarea>
                        </md-content>
                    </section>
                    <section resizable r-directions="['left']" r-flex="true">
                        <span class="titlebar" layout="row">
                            <span>JS</span><span flex></span><!--<md-icon md-font-icon="fa fa-times"
                                                                        aria-label="hide html"></md-icon>-->
                        </span>
                        <md-content style="height:100%;width:100%;">
                            <textarea type="text" class="borderless" style="height: 96%;width:100%;"
                                      ng-change="vm.debouncedUpdateItem()"
                                      ng-model="vm.js"
                                      ng-model-options="{debounce: { 'default': 2000, 'blur': 0 } }"></textarea>
                        </md-content>
                    </section>

                </div>
            </div>
        </div>
        <!--RIGHT-->
        <div ng-show="vm.previewPanel" resizable r-directions="['left']"
             style="min-width:400px;height:100%;width:40%;margin-left:8px; ">
            <span layout="row">
                            <h3>PREVIEW</h3><span flex></span>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open preview menu">
                        <md-icon md-font-icon="fa fa-search-plus"></md-icon>
                    </md-button>
                    <md-menu-content>
                        <md-menu-item ng-repeat="scale in [0.3,0.5,0.75,1,1.5]">
                            <md-button ng-click="vm.setPreviewScale(scale)">{{scale}}</md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
                <md-icon md-font-icon="fa fa-compress"
                         ng-click="vm.previewPanel=false"
                         style="cursor:pointer;"
                         aria-label="hide html"></md-icon>
                        </span>

            <md-content ng-init="vm.compile()" ng-show="vm.previewPanel" style="height:100%;width:100%; position:absolute;" >
                <div ng-style="vm.previewPanelStyle">
                    <iframe ng-if="!vm.fullPagePreview"  name="preview-frame" ng-src="{{vm.previewUrl}}" style="height:100%;width:100%"></iframe>

                    <!--<custom-item content="vm.html" api-ctrl="BasicApiController" custom-js="vm.js"></custom-item>-->
                </div>
            </md-content>
        </div>
        <div ng-hide="vm.previewPanel" ng-click="vm.previewPanel=true"
             style="cursor:pointer;height:100%;width:16px;padding:3px; background-color:#DDDDDD;">
            <md-icon md-font-icon="fa fa-expand" ng-click="vm.hidePreview=true"
                     aria-label="hide html"></md-icon>

        </div>
    </div>
</div>
<!--Preview-->
<!--<md-content ng-if="vm.fullPagePreview" layout="column" ng-init="vm.compile()">-->
    <!--<custom-item layout="row" ng-class="vm.canvas.class" layout-wrap content="vm.html" scope="vm.scope"></custom-item>-->

<!--</md-content>-->
<!--<custom-item ng-if="vm.fullPagePreview" content="vm.html" api-ctrl="BasicApiController" custom-js="vm.js" ng-init="vm.compile()" class="full-height"></custom-item>-->
<iframe ng-if="vm.fullPagePreview" name="preview-full-frame" ng-src="{{vm.previewUrl}}" style="height:100%;width:100%"></iframe>


<md-button ng-if="vm.fullPagePreview" class="md-fab" aria-label="back to edit" ng-click="vm.fullPagePreview=false"
           style="position:fixed; bottom:20px;left:20px">
    <md-icon md-font-icon="fa fa-pencil"></md-icon>
</md-button>
