<!--Toolbar-->
<md-toolbar ng-if="!vm.fullPagePreview" class="md-menu-toolbar editor-toolbar" ng-include="'app/parts/design/editor/toolbar.html'"></md-toolbar>

<div id="editor-container" ng-show="!vm.fullPagePreview" class="ui-layout-container editor-full-height"
     style="overflow: hidden;" ng-if="!destroyDragula" ng-init="initDragula()">
    <!--Show Preview Button-->

    <!--Editor-->

    <!--<div class="ui-layout-north">Outer North</div>-->

    <div class="ui-layout-center">
        <div class="ui-layout-center">
            <div class="ui-layout-west" ng-include="'app/parts/design/editor/layout-source-pane.html'" ng-init="vm.initEditorLayout()"></div>
            <div class="ui-layout-east" ng-include="'app/parts/design/editor/layout-setting-pane.html'" ng-init="vm.initEditorLayout()"></div>
            <div class="ui-layout-center" ng-include="'app/parts/design/editor/layout-main-pane.html'" ng-init="vm.initEditorLayout()"></div>
        </div>
        <div class="ui-layout-south">
            <div class="ui-layout-west" ng-include="'app/parts/design/editor/html-pane.html'" ng-init="vm.initEditorLayout()"></div>
            <div class="ui-layout-east" ng-include="'app/parts/design/editor/js-pane.html'" ng-init="vm.initEditorLayout()"></div>
            <div class="ui-layout-center" ng-include="'app/parts/design/editor/css-pane.html'" ng-init="vm.initEditorLayout()"></div>
        </div>
    </div>

    <!--<div class="ui-layout-south">Outer South</div>-->
    <!--<div class="ui-layout-west blue"><b><u>Outer West</u></b></div>-->


    <div class="ui-layout-east" ng-include="'app/parts/design/editor/preview-pane.html'"></div>


    <!--Preview-->
    <!--<md-content ng-if="vm.fullPagePreview" layout="column" ng-init="vm.compile()">-->
    <!--<custom-item layout="row" ng-class="vm.canvas.class" layout-wrap content="vm.html" scope="vm.scope"></custom-item>-->

    <!--</md-content>-->
    <!--<custom-item ng-if="vm.fullPagePreview" content="vm.html" api-ctrl="BasicApiController" custom-js="vm.js" ng-init="vm.compile()" class="full-height"></custom-item>-->


</div>

<iframe ng-if="vm.fullPagePreview" name="preview-full-frame" ng-src="{{vm.previewUrl}}"
        style="height:100%;width:100%"></iframe>
<md-button ng-if="vm.fullPagePreview" class="md-fab" aria-label="back to edit" ng-click="vm.fullPagePreview=false"
           style="position:fixed; bottom:20px;left:20px">
    <md-icon md-font-icon="fa fa-pencil"></md-icon>
</md-button>
