<div layout="row" layout-wrap layout-padding layout-align="center">

    <div flex="80" layout="column" layout-align="start end" class="analytic-date-selector">
        <div layout="row" layout-align="end center">
            <md-icon md-font-icon="fa fa-calendar"></md-icon>

            <md-select ng-model="vm.selectedPeriod" class="marginless">
                <md-option ng-value="period" ng-repeat="period in vm.periods track by $index" ng-click="vm.changePeriod(period)">{{period.name}}</md-option>
            </md-select>
        </div>
        <div style="font-size:12px;">{{vm.from}} 至 {{vm.to}} (GMT-5)</div>
    </div>
    <md-card flex="80" class="analytic-card">
        <!--<md-card-title>-->
        <!--<md-card-title-text>-->
        <!--<span class="md-headline">Daily orders</span>-->
        <!--</md-card-title-text>-->
        <!--</md-card-title>-->
        <md-card-content style="padding:0">
            <md-tabs md-dynamic-height md-no-ink-bar class="score-card">
                <md-tab>
                    <md-tab-label>
                        {{'ANALYTICS.SALES'|translate}}: {{vm.cs}}
                        <br>
                        {{'ANALYTICS.TOTALSALES'|translate}}
                    </md-tab-label>
                    <md-tab-body>
                        <canvas class="chart-line" chart-data="vm.salesData" chart-labels="vm.labels"
                                chart-legend="true" chart-series="vm.salesSeries"
                                chart-dataset-override="vm.datasetOverride"></canvas>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        {{'ANALYTICS.INCOMES'|translate}}: {{vm.g}}
                        <br>
                        {{'ANALYTICS.TOTALINCOMES'|translate}}
                    </md-tab-label>
                    <md-tab-body>
                        <canvas class="chart-line" chart-data="vm.incomeData" chart-labels="vm.labels"
                                chart-legend="true" chart-series="vm.incomeSeries"
                                chart-dataset-override="vm.datasetOverride"></canvas>
                    </md-tab-body>
                </md-tab>
            </md-tabs>
            <!--<div ng-if="vm.orderData">-->
            <!--<canvas class="chart-bar" chart-data="vm.orderData.results" chart-labels="vm.orderData.labels" chart-legend="true" chart-series="vm.orderData.series"></canvas>-->
            <!--</div>-->
        </md-card-content>
    </md-card>

    <md-card flex="40">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Top Products (Unit)</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="product in vm.topProducts.s">
                    <!--<md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{$index+1}}: {{vm.getProductName(product.id)}} (編號: {{product.id}})</h3>
                        <p>Sales: {{product.s}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>

    <md-card flex="40">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Top Products (Income)</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="product in vm.topProducts.g">
                    <!--<md-checkbox ng-model="item.done"></md-checkbox>-->
                    <div class="md-list-item-text">
                        <h3>{{$index+1}}:  {{vm.getProductName(product.id)}} (編號:{{product.id}})</h3>
                        <p>Incomes: {{product.g}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>


</div>
