<div layout="column">
    <div layout="row" layout-xs="column" layout-wrap>
        <md-table-container flex="100">
            <table md-table md-progress="vm.paginator.promise">
                <thead md-head md-order="'_id'" md-on-reorder="vm.onReorder">
                <tr md-row>
                    <th md-column md-order-by="siteName">Name</th>
                    <th md-column md-order-by="author">Author</th>
                    <th md-column md-order-by="createdTime">Created Time</th>
                    <th md-column></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="(id, site) in vm.paginator.result.hits">
                    <td md-cell>{{site.siteName}}</td>
                    <td md-cell>{{site.author}}</td>
                    <td md-cell>{{site.createdTime| date: 'medium'}}</td>
                    <td md-cell style="width:50px;">
                        <div layout="row">
                            <span flex></span>
                            <md-menu>
                                <md-button class="md-icon-button" aria-label="more action" ng-click="$mdOpenMenu();$event.stopPropagation();"
                                           aria-label="more action">
                                    <md-icon md-font-icon="zmdi zmdi-more-vert"></md-icon>
                                </md-button>
                                <md-menu-content width="3">
                                    <md-menu-item ng-repeat="action in vm.actions">
                                        <md-button ng-click="vm.action(action[0], site)" translate="{{action[1]}}"
                                                   aria-label="{{action[1]}}"></md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination flex="100" ng-show="vm.paginator.size<vm.paginator.result.total"
                             md-limit="vm.paginator.size" md-page="vm.paginator.page"
                             md-limit-options="[10, 25, 50, 100]"
                             md-total="{{vm.paginator.result.total}}"
                             md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>
    </div>
</div>
