<div class="padded-content-page" layout="column">
    <md-content layout="row" layout-xs="column" layout-wrap layout-padding>
        <div flex-gt-xs="33" flex-gt-sm="25" flex-gt-md="20">
            <md-card>
                <!--<img class="md-card-image" ng-src="{{product._source.image}}">-->
                <!--<md-card-title>-->
                <!--<md-card-title-text>-->
                <!--<span class="md-headline">{{product._source.itemName}}</span>-->
                <!--</md-card-title-text>-->
                <!--</md-card-title>-->
                <md-card-content layout-align="center center">
                    <md-input-container>
                        <label>Name</label>
                        <input ng-model="vm.newSiteName">
                    </md-input-container>
                    <md-button ng-click="vm.addSite()" ng-disabled="!vm.newSiteName.trim()">Create New Site</md-button>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-xs="33" flex-gt-sm="25" flex-gt-md="20"
             ng-repeat="site in vm.sitesArray">
            <md-card>
                <!--<img class="md-card-image" ng-src="{{product._source.image}}">-->
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{site.siteName}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-align="center center">
                    <div class="content-padded">

                    </div>
                    <button ui-sref="quartz.admin-default.site-configure({siteName:site.siteName})">configure</button>
                    <button ui-sref="quartz.admin-default.pageManager({siteName:site.siteName})">page</button>
                    <button ui-sref="quartz.admin-default.widgetManager({siteName:site.siteName})">widget</button>
                    <button ui-sref="quartz.admin-default.siteusers({siteName:site.siteName})">user</button>
                    <button ui-sref="quartz.admin-default.productManager({siteName:site.siteName})">product</button>
                    <button ui-sref="quartz.admin-default.orderHistory({siteName:site.siteName})">order</button>
                    <button ng-click="vm.selectedSite=site;vm.showTemplate($event)">apply template</button>
                    <button ng-click="vm.deleteSite(site)">delete</button>
                </md-card-content>
            </md-card>
        </div>

    </md-content>
</div>
