<div class="padded-content-page" layout="column">
    <md-content layout="row" layout-xs="column" layout-wrap layout-padding>
        <div flex-gt-xs="33" flex-gt-sm="25" flex-gt-md="20"
             ng-repeat="(id, site) in vm.pagination.result.hits">
            <md-card>
                <!--<img class="md-card-image" ng-src="{{product._source.image}}">-->
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{site.siteName}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-align="center center">
                    <div class="content-padded">

                    </div>
                    <!--<md-menu ng-init="vm.getMySites()">-->
                        <!--<md-button ng-click="$mdOpenMenu();$event.stopPropagation();"-->
                                   <!--aria-label="apply template to">Apply template to</md-button>-->
                        <!--<md-menu-content width="3">-->
                            <!--<md-menu-item ng-repeat="mysite in vm.mysites">-->
                                <!--<md-button ng-click="vm.applyTemplate(site.siteName, mysite.siteName)">{{mysite.siteName}}</md-button>-->
                            <!--</md-menu-item>-->
                        <!--</md-menu-content>-->
                    <!--</md-menu>-->
                    <md-button ng-click="vm.deleteTemplate(site)">delete</md-button>
                </md-card-content>
            </md-card>
        </div>
        <md-table-pagination flex="100"
                             md-limit="vm.pagination.size" md-page="vm.pagination.page"
                             md-limit-options="[10, 25, 50, 100]"
                             md-total="{{vm.pagination.result.total}}"
                             md-on-paginate="vm.onPaginate" md-page-select></md-table-pagination>

    </md-content>
</div>
