<md-dialog>
    <md-dialog-content layout="row" layout-wrap>
        <div style="width:300px"
             ng-repeat="tmpl in vm.templatesArray">
            <md-card>
                <img ng-src="{{tmpl.thumbnail}}" class="md-card-image" alt="image caption">
                <md-card-content layout-align="center center">
                    <div class="content-padded">
                        <md-radio-group ng-model="vm.selectedTemp">
                            <md-radio-button value="{{tmpl.siteName}}" class="md-primary">{{tmpl.siteName}}</md-radio-button>
                        </md-radio-group>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button ng-click="vm.applyTemplate(vm.selectedTemp)">Ok</md-button>
        <md-button ng-click="vm.closeDialog()">Cancel</md-button>
    </md-dialog-actions>
</md-dialog>
