<div class="padded-content-page" layout="column">

    <md-content layout="row" layout-xs="column" layout-wrap layout-padding>
        <div flex="100" layout="row">

            <md-input-container class="md-icon-float md-block" flex>
                <!-- Use floating label instead of placeholder -->
                <label>Search</label>
                <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                <input ng-model="vm.queryString" ng-model-options="{ debounce: 2000 }" ng-change="vm.search(true)" type="text">
            </md-input-container>
            <md-menu>
                <md-button aria-label="categories" ng-click="$mdOpenMenu()" aria-label="categories">
                    <md-icon md-font-icon="fa fa-list"></md-icon>
                    Categories
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <span style="width:10px"></span><h3 style="cursor: pointer" ui-sref="quartz.admin-default.productList({ cate: 'all', subCate: 'all'})">All</h3>
                    </md-menu-item>
                    <md-menu-item ng-repeat-start="cate in clientConfig.products.categories" ng-init="cate[2]=$index">
                        <span style="width:10px"></span><h3 style="cursor: pointer" ui-sref="quartz.admin-default.productList({ cate: cate[2], subCate: 'all'})">{{cate[0]}}</h3>
                    </md-menu-item>
                    <md-menu-item ng-repeat="subcate in cate[1]">
                        <span style="width:30px"></span><p style="cursor: pointer" ui-sref="quartz.admin-default.productList({ cate: cate[2], subCate: $index })">{{subcate}}</p>
                    </md-menu-item>
                    <md-divider ng-repeat-end ng-show="!$last"></md-divider>
                </md-menu-content>
            </md-menu>

        </div>
        <div flex-gt-xs="33" flex-gt-sm="25"
             ng-repeat="(index, product) in vm.paginator.result.hits" >
            <md-card ng-click="vm.showDetail(product._source.itemId)"
                     class="md-whiteframe-2dp"
                     style="cursor:pointer">
                <img class="md-card-image" ng-src="{{product._source.image}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{product._source.itemName}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-align="center center">
                    <div class="content-padded">
                        <p>
                            List price: {{product._source.listPrice|currency : '$' : 2}}
                        </p>
                        <p>
                            Price: {{product._source.price|currency : '$' : 2}}
                        </p>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </md-content>


    <md-table-pagination md-limit="vm.paginator.size" md-page="vm.paginator.page" md-total="{{vm.paginator.result.total}}"
                         md-on-paginate="vm.paginator.get" md-page-select></md-table-pagination>
</div>
