<div class="padded-content-page" layout="column">

    <md-content layout="row" layout-xs="column" layout-wrap layout-padding>
        <div flex-gt-xs="33" flex-gt-sm="25"
             ng-repeat="(index, product) in vm.paginator.result.hits" >
            <md-card ng-click="vm.showDetail(product._source.itemId)"
                     class="md-whiteframe-2dp"
                     style="cursor:pointer">
                <img class="md-card-image" ng-src="{{product._source.image}}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{product._source.itemName}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout-align="center center">
                    <div class="content-padded">
                        <p>
                            List price: {{product._source.listPrice|currency : '$' : 2}}
                        </p>
                        <p>
                            Price: {{product._source.price|currency : '$' : 2}}
                        </p>
                    </div>
                </md-card-content>
            </md-card>
        </div>

    </md-content>


    <md-table-pagination md-limit="vm.paginator.size" md-page="vm.paginator.page" md-total="{{vm.paginator.result.total}}"
                         md-on-paginate="vm.paginator.get" md-page-select></md-table-pagination>
</div>
