<md-dialog aria-label="Settings">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'EDITOR.SETTINGS'|translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-font-icon="fa fa-times" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; min-width:600px;">
            <md-tabs md-dynamic-height md-border-bottom md-selected="vm.selectedSettingsTab">
                <md-tab label="{{'DESIGN.EXTERNAL'|translate}}">
                    <md-content class="md-padding">
                        <p>Add External Packages</p><br>
                        <div layout="row" layout-wrap ng-repeat="(srcIndex, src) in vm.sources track by srcIndex">
                            <md-input-container flex>
                                <label></label>
                                <input type='text' ng-model="vm.sources[srcIndex].src" ng-change="sourceChange">
                                <md-icon md-font-icon="fa fa-times" style="cursor:pointer;"
                                         ng-click="removeSource(srcIndex)"></md-icon>
                            </md-input-container>
                            <md-input-container>
                                <md-checkbox ng-model="vm.sources[srcIndex].defer" aria-label="script defer" ng-disabled="vm.sources[srcIndex].src.split('.css')[1]===''">
                                    Defer
                                </md-checkbox>
                            </md-input-container>


                        </div>
                        <hr>
                        <div layout="row" layout-wrap>
                            <md-input-container flex="100">
                                <label>Add External Packages</label>
                                <input type='text' ng-model="newSource">
                                <md-icon md-font-icon="fa fa-plus" style="cursor:pointer" ng-click="addSource(newSource);newSource=''"></md-icon>
                            </md-input-container>
                        </div>


                    </md-content>
                </md-tab>
                <md-tab label="previews">
                    <md-content class="md-padding">
                        <div layout="row" layout-wrap>
                            <md-input-container flex="100">
                                <label>Params</label>
                                <input type='text' ng-model="vm.previewParams">
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>

            <md-button ng-click="vm.compile();hide();">
                Ok
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
