<md-tabs class="md-primary" md-dynamic-height md-border-bottom md-selected="vm.selectedSettingsTab">
    <md-tab label="{{'SITESETTING.ANALYTICS.GA'|translate}}">
        <md-content class="transparent-bg-color" layout="row" layout-align="center">
            <md-card class="admin-card">
                <md-card-content class="md-padding">
                    <md-input-container style="width:100px">
                        <label>Track ID</label>
                        <input type='text' ng-model="common.preload.analytics.ga.id">
                    </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-raised md-primary" ng-click="common.update()">Update</md-button>
                </md-card-actions>
            </md-card>
        </md-content>
    </md-tab>
</md-tabs>
