<!--<button ui-sref="quartz.admin-default.pageManager({siteName:vm.siteName})">Pages</button>-->
<!--<button ui-sref="quartz.admin-default.widgetManager({siteName:vm.siteName})">Widget</button>-->
<md-content layout-padding>
    <form>
        <fieldset>
            <legend><h3>Basic Info</h3></legend>
            <div layout="row" layout-wrap>
                <md-input-container flex="50">
                    <label>Title</label>
                    <input type='text' ng-model="vm.preload.title">
                </md-input-container>
                <md-input-container flex="50">
                    <label>Favicon</label>
                    <input type='text' ng-model="vm.preload.favicon">
                </md-input-container>

                <md-input-container flex="50">
                    <label>Description</label>
                    <input type='text' ng-model="vm.siteListData.description">
                </md-input-container>
                <md-input-container flex="50">
                    <label>Type</label>
                    <input type='text' ng-model="vm.siteListData.type">
                </md-input-container>
                <md-input-container flex="50">
                    <label>Thumbnail</label>
                    <input type='text' ng-model="vm.siteListData.thumbnail">
                </md-input-container>

                <!--<md-input-container>-->
                    <!--<label>Index</label>-->
                    <!--<md-select ng-model="vm.config.basic.index">-->
                        <!--<md-option value="'emptyPage'">-->
                            <!--Choose an index page...-->
                        <!--</md-option>-->
                        <!--<md-option ng-repeat="page in vm.pages" value="{{page.name}}">-->
                            <!--{{page.name}}-->
                        <!--</md-option>-->
                    <!--</md-select>-->
                <!--</md-input-container>-->
            </div>
            <!--<legend><h3>Email</h3></legend>-->

        </fieldset>
    </form>
    <md-button ng-click="vm.updateBasicInfo()">Update</md-button>

</md-content>
