<md-content class="md-padding">
    <p>Add External Packages</p><br>
    <div layout="row" layout-wrap>
        <md-input-container flex="100" ng-repeat="(srcIndex, src) in vm.sources track by srcIndex">
            <label></label>
            <input type='text' ng-model="vm.sources[srcIndex]">
            <md-icon md-font-icon="fa fa-times" style="cursor:pointer;"
                     ng-click="vm.removeSource(srcIndex)"></md-icon>
        </md-input-container>
        <md-input-container flex="100">
            <label>External Lib</label>
            <input type='text' ng-model="newSource">
            <md-icon md-font-icon="fa fa-plus" style="cursor:pointer" ng-click="vm.addSource(newSource);newSource=''"></md-icon>
        </md-input-container>
        <md-button ng-click="vm.update()">Update</md-button>
    </div>

</md-content>
