<!--<button ui-sref="quartz.admin-default.pageManager({siteName:vm.siteName})">Pages</button>-->
<!--<button ui-sref="quartz.admin-default.widgetManager({siteName:vm.siteName})">Widget</button>-->
<md-content>
    <form>
        <fieldset>
            <md-tabs>
                <md-tab label="Allpay">
                    <div class="content-padded" layout="row" layout-wrap layout-padding>
                        <md-input-container flex="50">
                            <label>MerchantID</label>
                            <input type='text' ng-model="vm.allpay.public.MerchantID">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>HashKey</label>
                            <input type='text' ng-model="vm.allpay.private.HashKey">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>HashIV</label>
                            <input type='text' ng-model="vm.allpay.private.HashIV">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>PaymentType</label>
                            <input type='text' ng-model="vm.allpay.public.PaymentType">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>ChoosePayment</label>
                            <input type='text' ng-model="vm.allpay.public.ChoosePayment">
                        </md-input-container>
                        <md-input-container flex="50">
                            <label>TradeDesc</label>
                            <input type='text' ng-model="vm.allpay.public.TradeDesc">
                        </md-input-container>
                    </div>

                    <md-button ng-click="vm.updateAllpay()">Update</md-button>
                </md-tab>
                <md-tab label="Stripe">
                    <md-card layout="row">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Stripe</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content layout-align="center center">
                            <md-input-container flex="50">
                                <label>Secret API Key</label>
                                <input type='text' ng-model="vm.stripe.private.secretKey">
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Publishable API Key</label>
                                <input type='text' ng-model="vm.stripe.public.publicKey">
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Name</label>
                                <input type='text' ng-model="vm.stripe.public.name">
                            </md-input-container>
                            <md-input-container flex="50">
                                <label>Currency</label>
                                <input type='text' ng-model="vm.stripe.public.currency">
                            </md-input-container>

                        </md-card-content>
                    </md-card>
                </md-tab>
            </md-tabs>



        </fieldset>
    </form>

</md-content>
