<md-content class="padded-content-page">
    <div layout="row" layout-align="center center">
        <h2 class="md-display-3" translate>SEED.TITLE</h2>
    </div>
    Http Request: {{vm.chkstr}}<br>
    Check Value: {{vm.chkvalue}}<br>
    <form target="_blank" method="post" action="http://131.193.191.13/allpayAIO">
        <div ng-repeat="(name, value) in vm.order">
            {{name}}:<input type='text' name="{{name}}" value="{{value}}" ng-model="value"><br>
        </div>
        <input type="submit" value="Submit">
    </form>
    <md-button ng-click="vm.getCheckValue('BjpD8H94QhzjaQZ28FN17LPBlCqd5mUG','FjkN1uSRLrbVibXr', vm.order)">get check value</md-button>
</md-content>
